/.gitattributes     export-ignore
/.github/           export-ignore
/.gitignore         export-ignore
/docs/              export-ignore
/phpunit.xml        export-ignore
/test/              export-ignore
