language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer require satooshi/php-coveralls:dev-master --no-update --dev
  - travis_retry composer install --no-interaction --prefer-source --dev

script: 
  - mkdir -p build/logs
  - ./vendor/bin/phpunit --coverage-text
  - ./vendor/bin/phpcs src --standard=psr2

after_script:
  - php vendor/bin/coveralls
