includes:
	- vendor/eloquent/phpstan-phony/phony.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

services:
	-
		class: League\OAuth2\Client\Test\PHPStan\LiberatorExtension
		tags: [phpstan.broker.dynamicStaticMethodReturnTypeExtension]
